@import '../../styles/mixins';
@import '../../styles/vars';

.profile {
  font-size: 13px;
  padding: 32px 24px;
  margin-bottom: 36px;

  // PROFILE HEADER
  &__header {
    @include flexCenter(left, center, row);
    margin-bottom: 33px;

    &__avatar {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100px;
      width: 100px;

      & img {
        border-radius: 100%;
        width: 80%;
      }
    }

    &__user-details {
      @include flexCenter(flex-start, flex-start, column);

      &__name {
        color: $boldtitle-light;
        font-size: 16px;
        font-weight: 700;
      }

      &__pseudo {
        margin-bottom: 6px;

        & a:hover {
          text-decoration: none;
        }
      }

      &__joined {
        color: $mode-light;
      }
    }
  }

  // BIO
  &__description {
    line-height: 25px;
    margin-bottom: 23px;

    &__empty {
      opacity: 0.5;
    }
  }

  // STATS
  &__stats {
    @include flexCenter(space-between, center, row);

    background-color: $background-light;
    border-radius: 10px;
    height: 85px;
    margin-bottom: 24px;
    padding: 18px 24px;

    &__box {
      @include flexCenter(center, center, column);

      &__title {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 8px;
      }

      &__number {
        color: $boldtitle-light;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  // LINKS
  &__links {
    @include flexCenter(flex-start, flex-start, column);

    &__link {
      @include flexCenter(flex-start, center, row );
      margin-bottom: 16px;
    }

    &__icon {
      @include flexCenter(flex-start, flex-start, column);
      fill: $text-light;
      width: 33px;
    }
  }
}

.stats-dark {
  background-color:  $background-dark;
}

.link {
  &-light {
    color: $text-light;
  }
  &-dark {
    color: $text-dark;
  }
}

.not-available {
  opacity: 0.5;
}


// TABLETS
@media (min-width: 600px) {

  .profile {
    padding: 48px;

    // Profile header
    &__header {

      &__avatar {
        margin-right: 37px;
        height: 117px;
        width: 117px;

        & img {
          width: 100%;
        }
      }

      &__user-details {
        font-size: 15px;

        &__name {
          font-size: 26px;
          line-height: 39px;
          margin-bottom: 2px;
        }

        &__pseudo {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    // Bio
    &__description {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 32px;
    }

    // Stats
    &__stats {
      margin-bottom: 30px;
      padding: 32px;
      padding-top: 15px;
      padding-bottom: 17px;

      &__box {
        @include flexCenter(flex-start, flex-start, column);

        &__title {
          font-size: 13px;
        }

        &__number {
          font-size: 22px;
        }
      }

    }

    // Links
    &__links {
      @include flexCenter(space-between, flex-start, row);

      &__column {
        flex-grow: 1;
      }
    }
  }
}

// LAPTOP
@media (min-width: 900px) {
  .profile {
    @include flexCenter(flex-end, flex-end, column);

    &__header {
      @include flexCenter(space-between, flex-start, row);
      margin-bottom: -30px;
      width: 100%;

      &__avatar img {
        width: 120%;

      }

      &__user-details {
        @include flexCenter(space-between, space-between, row);

        width: 100%;
      }
    }

    &__description,
    &__stats,
    &__links {
      width: 500px;
    }

  }

}