// Global colours
$button: hsl(212, 100%, 50%);
$button-hover: hsl(212, 100%, 69%);
$button-text: hsl(0, 0%, 100%);
$link: hsl(212, 100%, 50%);
$noresult: hsl(0, 91%, 62%);

// Light mode
$background-light: hsl(227, 100%, 98%);
$content-light: hsl(0, 0%, 100%);
$text-light: hsl(217, 35%, 45%);
$mode-light: hsl(217, 20%, 51%);
$mode-hover-light: hsl(220, 18%, 16%);
$boldtitle-light: hsl(217, 21%, 21%);
$logo-light: hsl(220, 18%, 16%);

// Dark mode
$background-dark: hsl(220, 40%, 13%);
$content-dark: hsl(222, 41%, 20%);
$text-dark: hsl(0, 0%, 100%);
$mode-hover-dark: hsl(222, 44%, 70%);








