@use 'reset';
@use 'vars';

@font-face {
  font-family: 'Space Mono';
  src: url('../assets/fonts/SpaceMono-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../assets/fonts/SpaceMono-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

html, body, #root, .app {
  height: 100%;
}

body {
  background: vars.$background-light;
  font-family: 'Space Mono', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

body.dark {
  background-color: vars.$background-dark;
  color: vars.$text-dark;

}

@media (prefers-color-scheme: dark) {
  body {
    background-color: vars.$background-dark;
    color: vars.$text-dark;
  }
}

h1 {
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}

h4 {
  font-size: 13px;
  line-height: 20px;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  border-radius: 10px;
  background-color: vars.$button;
  color: vars.$button-text;
  font-family: 'Space Mono', sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  width: 106px;
}

