@use 'reset';
@use 'vars';

@font-face {
  font-family: 'Space Mono';
  src: url('../assets/fonts/SpaceMono-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../assets/fonts/SpaceMono-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

html, body, #root, .app {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Space Mono', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

body.light {
  background: vars.$background-light;
  color: vars.$text-light;
}

body.dark {
  background-color: vars.$background-dark;
  color: vars.$text-dark;

}

h1 {
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}

h4 {
  font-size: 13px;
  line-height: 20px;
}

a {
  color: vars.$link;

  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  border-radius: 10px;
  background-color: vars.$button;
  color: vars.$button-text;
  font-family: 'Space Mono', sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  width: 106px;
}

.box {
  background-color: vars.$content-light;
  box-shadow: 0px 16px 30px -10px hsla(227, 46%, 51%, 19.86%);
  border-radius: 15px;
}

// DARK MODE globals
.box-dark {
  background-color: vars.$content-dark;
}

.text-dark {
  color: vars.$text-dark;
}

.stats-dark {
  background-color:  vars.$background-dark;
}

.icon-dark {
  fill:  vars.$text-dark;
}
