@import '../../styles/mixins';
@import '../../styles/vars';

.container {
  @include flexCenter(center, center, column);

  margin-top: 31px;
  margin-left: 24px;
  margin-right: 24px;
}

header, main, footer {
  width: 100%;
}

// TABLETS
@media (min-width: 600px) {
  .app {
    @include flexCenter(center, center, column);
  }

  .container {
    width: 573px;
  }
}

// LAPTOP
@media (min-width: 900px) {
  .container {
    width: 730px;
  }
}