@import '../../styles/vars';
@import '../../styles/mixins';

.header {
  @include flexCenter(space-between, center, row);
  margin-bottom: 35px;
  width: 100%;

  &__logo {
    color: $logo-light;
  }
}

.logo-dark {
  color: $text-dark;
  background-color: $background-dark;
}
