@import '../../styles/mixins';
@import '../../styles/vars';

.search {
  @include flexCenter(space-between, center, row);

  height: 60px;
  padding: 7px;
  padding-left: 16px;
  margin-bottom: 16px;
  width: 100%;

  &__icon-container {
    @include flexCenter(flex-start, center, row);
    width: 100%;
  }

  &__icon {
    @include flexCenter(center, center, row);

    fill: $link;
    margin-right: 5px;
  }

  &__input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;

  }

  &__input {
    border: none;
    color: $text-light;
    font-family: 'Space Mono', sans-serif;
    font-size: 13px;
    width: 100%;
  }

  &__no-results {
    color: $noresult;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    right: 10px;
    white-space: nowrap;
    display: block;
  }

  &__button {
    flex-basis: 84px;
  }

}

.input-dark {
  color: $text-dark;
  background-color: $content-dark;
}


// TABLETS
@media (min-width: 600px) {
  .search {
    height: 69px;
    padding-top: 23px;
    padding-bottom: 22px;
    padding-left: 32px;
    padding-right: 10px;

    &__icon {
      margin-right: 24px;
    }

    &__input {
      font-size: 16px;
    }

    &__no-results {
      font-size: 15px;
      right: 24px;
    }

    &__button {
      flex-basis: 106px;
    }

  }
}

// LAPTOP
@media (min-width: 900px) {
  .search {

    &__input {
      font-size: 18px;
    }
  }

}