@import '../../styles/mixins';
@import '../../styles/vars';

.search {
  @include flexCenter(space-between, center, row);

  height: 60px;
  padding: 7px;
  padding-left: 16px;
  margin-bottom: 16px;
  width: 100%;

  &__icon {
    @include flexCenter(center, center, row);

    fill: $link;
  }

  &__input-container {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &__input {
    border: none;
    color: $text-light;
    font-family: 'Space Mono', sans-serif;
    font-size: 13px;
  }

  &__no-results {
    color: $noresult;
    font-size: 12px;
    font-weight: 700;
    padding-left: 5px;
    position: absolute;
    right: 0;
    white-space: nowrap;
    display: block;
  }

  &__button {
    flex-basis: 84px;
  }

}

.input-dark {
  color: $text-dark;
  background-color: $content-dark;
}